#title {
  background-color: #ef8172;
}
h1 {
  /* padding: 2.5rem 0; */
  padding-top: 1.5rem;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.title-img {
  transform: rotate(-15deg);
  padding-left: 2rem;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 2% 15%;
}

.btn {
  margin: 3% 2% 0 0;
}

body {
  font-family: 'ubuntu';
}

.navbar {
  padding: 2rem 0;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link {
  font-weight: bold;
}

.col-lg-6 {
  padding-bottom: 2rem;
}

.navbar-brand {
  font-family: 'ubuntu';
  font-size: 2rem;
}


#features {
  padding: 8% 15%;
  text-align: center;
  background-color: #F7F5F2;

}
.feature-box {
  /* font-weight: ; */
  font-family: 'ubuntu';

}
.feature-cont {
    font-family: 'ubuntu';
    color: grey;
}

.icon {
  color: #FD5D5D;
  padding-bottom: 1.25rem;
}

.icon:hover {
  color: grey;
}

#testimonials {
  color: white;
  background-color: #ef8172;

  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  padding: 2rem;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 15px 20px;
}
